* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
}

a {
  text-decoration: none;
}


ol, ul, dl {
  margin-bottom: 0;
}

input {
  outline: none
}