.carusel {
  position: relative;

  &__pagination {
    position: absolute;
    top: 15px;
    right: 0;
  }
  &__items {
    position: relative;
    top: 25px;
  }
  &__item {
    position: relative;
  }
  &__add {
    position: absolute;
    top: 0;
    left: 50%;
  }
  &__text {
    text-transform: uppercase;
    @include font(bold, 14px, 24px);
  }
  &__price {
    position: absolute;
    top: 100%;
    left: 50%;
    //transform: translateY(-85%, -20%);
    color: $white;
    @include font(bold, 60px, 20px);
    text-align: end;
  }
  &__comment {
    @include font(bold, 24px, 1px);
    color: $black;
  }
  &__rectangle {
    cursor: pointer;
    width: $rectangle-size;
    height: $rectangle-size;
    margin-bottom: $rectangle-size;
    background-color: $black;
    &.active {
      background-color: $white;
    }
  }
  &__text-block {
    position: relative;
  }
  &__buttons {
    position: absolute;
    @include square-size($square-size*2);
    top: 100%;
    left: 50%;
    //transform: translateX(-40%);
  }
  &__left {
    cursor: pointer;
    .svg {
      @include square-size($square-size);
    }
  }
  &__right {
    cursor: pointer;
    float: right;
    .svg {
      @include square-size($square-size);
    }
  }
}