.header {

  &__line {
    height: 9px;
    background-color: $black;
  }
  &__warp {
    @extend .warps;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__col-6 {
    width: 50%;
  }
  &__logo {
    height: 93px;
    display: flex;
    align-items: center;
  }
  &__logo-text {
    @include font(bold, 14px, 24px);
    &--indent {
      padding-left: 15px;
    }
  }
  &__address {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
    @include font(normal, 14px, 1.5);
    &--pr-0 {
      padding-right: 0;
    }
  }
  &--bg {
    background-color: $primary;
  }
}