.product {
  &__warp {
    @extend .warps;
    position: relative;
  }
  &__bar {
    display: flex;
    &--size {
      @include font(normal, 12px, 1);
    }
    &--indent {
      padding-top: 45px;
      padding-bottom: 65px;
    }
  }
  &__show {
    cursor: pointer;
    color: $primary;
    padding-right: 2px;
    transition: color ease $transition-time;
    &.avtive {
      cursor: default;
      color: $secondary;
      &:hover {
        color: $secondary;
      }
    }
    &--separ {
      color: $secondary;
    }
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  &__section {
    display: flex;
    &--indent {
      //padding-top: 65px;
      padding-bottom: 45px;
    }
    &--border {
      border-bottom: 2px solid rgba($nav, .5);
    }
  }
  &__content {
    width: 100%;
    &--indent {
      padding-left: 30px;
    }
  }
  &__title {
    @include font(bold, 20px, 1);
    &--indent {
      margin-bottom: 35px;
    }
  }
  &__part {
    &.active {
      //box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 1);
      .product__arrow {
        transform-origin: center;
        transform: translateY(-50%) rotate(180deg);
      }
      .product__name {
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 1);
      }
      .product__radiobox {
        display: block;
      }
    }
  }
  &__name {
    position: relative;
    border: 1px solid red;
    padding: 5px 20px;
    @include font(bold, 24px, 1);
    border-radius: 3px;
    border-color: rgba($black, .2);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .35);
    &--indent {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
  &__arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    cursor: pointer;
    .svg {
      @include square-size(20px);
    }
  }
  &__radiobox {
    display: none;
    &--indent {
      margin: 32px 0
    }
  }
  &__block {
    display: flex;
    align-items: center;
    &--indent {
      margin-top: 20px;
      //margin-bottom: 42px;
    }
  }
  &__price {
    @include font(bold, 24px, 1);
  }
  &__btn {
    @include font(normal, 12px, 20px);
    padding: 5px 35px;
    //background-color: $primary;
    background: linear-gradient(to bottom, rgba(253, 207, 3, 1) 0%, rgba(250, 181, 0, 1) 100%);
    border: 1px solid $tertiary;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .35);
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: underline;
    &--indent {
      margin-left: 50px;
    }
  }
}