//Colors

$primary: #ffbb02;
$secondary: #000;
$tertiary: #fab500;

$white: #fff;
$black: #000;

$nav: #818181;
$nav-active: #d3d3d3;

//grid
$content-width:  960px;

//Size
$square-size: 30px;
$rectangle-size: 15px;

//Time

$transition-time: .2s;

//Maket
$maket-visible: 0;
$maket-opacity: .3;